@import "tailwindcss";
@font-face {
  font-family: "Ribeye";
  font-weight: 400;
  font-style: normal;
  display: swap;
  src: url("./assets/Ribeye-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Butcherman";
  font-weight: 400;
  font-style: normal;
  display: swap;
  src: url("./assets/Butcherman-Regular.ttf") format("truetype");
}

body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  height: 100dvh;
  font-family: sans-serif;
}

.circular-gradient {
  background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
}

@theme {
  --font-ribeye: "Ribeye";
  --font-butcherman: "Butcherman";
  --animate-borderpulse: borderpulse 2s ease-in-out infinite;

  @keyframes borderpulse {
    0%,
    100% {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    50% {
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
    }
  }
}
